* {
    box-sizing: border-box;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0;
    font-size: 18px;
}

html {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #254968;
}

select {
    outline: none;
}

select,
input[type="text"] {
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 3px solid grey;
    background-color: #478aac;
    color: black;
    border-radius: 10px;
}

input[type="text"]::placeholder {
    color: black;
    opacity: 0.5;
}

select {
    position: relative;
    top: 24px;
    height: 50px;
    margin: 3px;
}

input[type="text"] {
    width: 400px;
    font: inherit;
}

input:focus {
    outline: none;
    border: 2px solid deepskyblue;
}

input:invalid,
select:invalid,
textarea:invalid {
    border: 2px solid #ff7d87;
    box-shadow: none;
}

input[type="submit"],
input[type="button"],
button {
    width: 150px;
    height: 50px;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #355572;
    border: 3px solid #706f6f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    appearance: none;
    display: inline-block;
    line-height: initial;
    user-select: none;
    outline: none;
    margin: 3px;
}

@media (hover: hover) {
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover {
        cursor: pointer;
        background-color: #20405a;
    }
}

.error {
    font-size: 16px;
    color: red;
    margin-top: 0.25rem;
    max-width: 400px;
    display: inline-block;
}

::placeholder {
    opacity: 0.5;
}

.uploadForms {
    display: flex;
    margin: 3px;
}

.uploadURLButtons {
    position: relative;
    top: 24px;
}

#app {
    width: 100%;
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .uploadForms {
        display: contents;
        width: 100%;
    }

    .uploadForms > select {
        top: 0;
    }

    .URLinputs {
        width: 90% !important;
        margin: auto;
    }

    .uploadForms > label {
        float: left;
    }
}




